.banner {
display: none;
    @include mobile {
        display: block;
        width: 100%;
        padding-top: 60%;
        background-image: url('../images/banner1.png');
        background-position: center center;
        background-size: cover;
        position: relative;
        top: 68px;
    }
}