//footer
.footer {
    text-align: center;
    margin-top: 0px;
    @include mobile {
        margin-top: $small;
    }
    .title {
        width: 50%;
        margin: 0 auto;
        padding-top: 10%;
        background-position: center center;
        background-size: cover;
    }
    .title1 {
        background-image: url('../images/title/footer_1.png');
    }
    .title2 {
        background-image: url('../images/title/footer_2.png');
    }
    .group {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }
    .icon-group {
        width: 50%;
        text-align: center;
        @include mobile {
            width: 100%;
        }
    }
    .phone-group {
        width: 50%;
        text-align: center;
        @include mobile {
            width: 100%;
            margin-top: $middle-lg;
        }
    }
    .list {
        display: flex;
        justify-content: center;
        margin-top: $middle-md;
        @include mobile {
            margin-top: $small;
        }
    }
    .icon {
        width: 12%;
        @include pad {
            width: 16%;
        }
        @include mobile {
            width: 25%;
        }
        &+.icon {
            margin-left: $middle;
        }
    }
    .phone-content {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: $middle;
        @include pad {
            margin-top: $middle-lg;
        }
        @include mobile {
            margin-top: $small;
        }
    }
    .fas {
        font-size: 48px;
    }
    .number {
        color: $color-secondary;
        font: normal normal normal 24px/32px "Lato", "Noto Sans TC", sans-serif;
        margin-left: $middle-md;
    }
    .copyright {
        font: normal normal normal 16px/24px "Lato", "Noto Sans TC", sans-serif;
        margin-top: $middle;
        @include mobile {
            font: normal normal normal 14px/21px "Lato", "Noto Sans TC", sans-serif;
        }
    }
}