//header
.header {
    width: 1280px;
    padding: $middle-sm 6.641%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-white;
    position: fixed;
    top:0;
    left:50%;
    margin-left:-640px; 
    z-index: 99;
    @include pad {
        width: 100%;
        padding: $middle-sm 5%;
        left: 0;
        margin-left:0px;
    }
    @include mobile {
        justify-content: center;
        padding: $small 5%;
    }
    .menu {
        width: 60%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        @include mobile {
            width: 100%;
            position: absolute;
            top: 68px;
            display: none;
        }
    }
    .item {
        width: 33%;
        @include mobile {
            width: 100%;
            text-align: center;
            background-color: $color-primary;
        }
    }
    .default {
        display: block;
        padding-top: 15%;
        background-position: center center;
        background-size: cover;
        position: relative;
        transition: .5s;
        @include mobile {
            background-size: 60%;
            background-repeat: no-repeat;
            border-bottom: 1px solid $color-white;
        }
        &::after {
            content: "";
            width: 80%;
            height: 3px;
            background-color: $color-primary;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            bottom: -10px;
            transform: scale(0);
            transition: 0.5s;
        }
        &:hover {
            &::after {
                transform: scale(1);
                @include mobile {
                    transform: scale(0);
                }
            }
        }
    }
    .default1 {
        background-image: url('../images/title/header_1.png');
        @include mobile {
            background-image: url('../images/title/header_mb_1.png');
        }
    }
    .default2 {
        background-image: url('../images/title/header_2.png');
        @include mobile {
            background-image: url('../images/title/header_mb_2.png');
        }
    }
    .default3 {
        background-image: url('../images/title/header_3.png');
        @include mobile {
            background-image: url('../images/title/header_mb_3.png');
        }
    }
    .btn-arrow {
        display: none;
        @include mobile {
            display: block;
            color: $color-primary;
            font-size: 18px;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 5%;
            display: flex;
            align-items: center;
            &.active {
                transform: rotate(-180deg);
            }
        }
    }
}