//meal-group
.meal-group {
    width: 90%;
    margin: 40px auto 0;
    @include pad {
        width: 100%;
    }
    @include mobile {
        margin: 20px auto 0;
    }
    .meal-pic {
        position: relative;
    }
    .meal-pic ~ .meal-pic {
        margin-top: -60px;
        @include pad {
            margin-top: -30px;
        }
        @include mobile {
            margin-top: 0px;
        }
    }
    .meal-pic:nth-child(even) {
        margin-top: -120px;
        @include mobile {
            margin-top: -40px;
        }
    }
    .detail-group {
        width: 100%;
        position: absolute;
        bottom: 8%;
        display: flex;
        justify-content: space-evenly;
        @include pad {
            bottom: 5%;
        }
        @include mobile {
            justify-content: space-between;
        }
    }
    .menu-detail,
    .order-detail {
        color: $color-primary;
        font: normal normal bold 36px/64px "Lato", "Noto Sans TC", sans-serif;
        @include pad {
            font: normal normal bold 32px/60px "Lato", "Noto Sans TC", sans-serif;
        }
        @include mobile {
            font: normal normal bold 20px/32px "Lato", "Noto Sans TC", sans-serif;
        }
    }
}