//meal-group
.meal-group {
    width: 90%;
    margin: 40px auto 0;
    @include pad {
        width: 100%;
    }
    @include mobile {
        margin: 20px auto 0;
    }
    .meal-pic ~ .meal-pic {
        margin-top: -120px;
        @include pad {
            margin-top: -80px;
        }
        @include mobile {
            margin-top: -40px;
        }
    }
}